# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/CXXCore-master/3rdparty/gzip
/CXXCore-master/3rdparty/zlib
/CXXCore-master/vc/.vs/CXXCore
*.user
/3rdparty/gzip
/3rdparty/zlib
/vc
/CXXCore-master/vc/build/CXXCoreTest
/CXXCore-master/vc/build/ConsoleTest/Debug
/CXXCore-master/vc/ConsoleTest/test.json
/CXXCore-master/vc/.vs/CopilotSnapshots/D60C9DE3CFDC514D88F2CA8BB2D7EB9A/1D464CD98433664D9DB8AB95B7BBA60E
/CXXCore-master/vc/deploy/bin/CXXCoreTest/Debug
/CXXCore-master/vc/deploy/bin/ConsoleTest/Debug
